/* Reset básico para evitar diferenças entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Corpo geral */
body {
    background-color: #6a0dad;
    color: #ffffff;
    line-height: 1.6;
    padding-bottom: 50px;
}

/* Minha Imagem */
.minha-imagem {
    display: block;          
    margin: 20px auto;       
    width: 250px;           
    height: 250px;           
    object-fit: cover;       
    border-radius: 50%;      
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

/* Navegação */
nav {
    background-color: #e67300;
    padding: 03px 05px;
    justify-content: center;
    box-shadow: 0 4px 10px rgb(252, 2, 106);
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 40px;
}

nav ul li a:hover {
    color: #ffffff;
}

/* Cabeçalhos */
h1, h2, h3 {
    color: #fd038d;
    margin-bottom: 10px;
}

/* Cards */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 20px; 
    padding: 20px;
}

.card {
    background: #e67300;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 10px rgb(252, 2, 106);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

/* Texto */
p {
    margin-bottom: 10px;
    font-size: 20px;
}

/* Listas */
ul {
    margin-left: 20px;
    margin-bottom: 15px;
}

/* Tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 14px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 02px 04px;
    text-align: center;
    font-size: 14px;
}

thead {
    background-color: #dd0e9f;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f5de0d;
}

/* Rodapé */
footer {
    background-color: #e67300;
    color: #ffffff;
    text-align: center;
    padding: 03px 05px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 40px;
    box-shadow: 0 4px 10px rgb(252, 2, 106);
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
